body{
    font-family: sans-serif;
}
body img{
    width: 98%;
    position: relative;
    right: -1%;
}
@media  screen and (max-width: 366px){
    .alert-info{
        border: solid lightgray 1px;
        width: 78%;
        background-color: lightskyblue;
        padding: 5% 10%;
        text-align: center;
        position: relative;
        right: -1%;
        color: black
    }
    .alert-info a{
        text-decoration: none;
        color: black;
    }
    h1{
        text-align: center;
        font-size: 56px;
        margin-top: 4%;

    }
    .nav-links li{
        border: lightgray solid 1px;
        background-color: #848487;
        width: 91%;
        padding: 5% 10%;
        text-align: center;
        position: relative;
        right: 12%;
        list-style: none;
        margin-bottom: 3%;
    }
    .main{
        position: relative;
        right: -1%;
    }
    .sub-section{
        position: relative;
        right: -1%;
        padding-right: 5%;
    }
    footer {
        position: relative;
    }
    footer p{
        margin-top: 30%
    }
    footer img{
        height: 7%;
        width: 7%;
        position: relative;
        right: -17%;
        top: 2%;
    }
}
@media screen and (min-width: 367px) and (max-width:935px) {
    h1 {
        margin-left: 2%
    }
    .nav-links{
        position: absolute;
        top: 4%;
        left: 66%;
        width: 35%
    }
    .nav-links li{
        display: inline-block;
        padding-left: 5%;
    }
    .header-img{
        margin-top: 4%;
    }
    .alert-info{
        visibility: hidden;
    }
    .sub-section{
        position: relative;
        left: 18%;
        width: 40%;
        display: inline-block;
    }
    .main{
        position: relative;
        right: -1%;
        width: 40%;
        display: inline-block;
    }
    footer img{
        height: 17%;
        width: 6%;
        position: relative;
        right: -58%;
    }
    footer {
        position: relative;
        right: -1%;
    }
    footer p{
        margin-top: 30%
    }
}